@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TTLakes-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TTLakes-Bold.woff') format('woff');
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100vh;
  box-shadow: -2px 0 4px 0 rgba(69, 79, 126, 0.02),
    16px 0 52px 0 rgba(14, 24, 80, 0.2);
}

.menu__header {
  padding: 24px;
  display: flex;
  align-items: center;
}

.header__link {
  background-image: url(../public/logo.svg);
  width: 98px;
  height: 52px;
}

.header__button:not(:last-child) {
  background-image: url(../public/burger.svg);
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.header__button:last-child {
  background-image: url(../public/search.svg);
  width: 40px;
  height: 40px;
  margin-left: 78px;
}

.menu__body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 0 24px;
}

.menu__items {
  display: flex;
  flex-direction: column;
  margin: 0 0 24px;
}

.menu__item {
  display: flex;
  align-items: center;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
}

.menu__item > a:hover {
  transition: color 0.3s;
  color: #7e7e82;
}

.menu__item:hover::before {
  content: '';
  position: absolute;
  left: -2px;
  height: 32px;
  width: 4px;
  border-radius: 6px;
  background-color: #41f6d7;
}

.menu__item:not(:last-child) {
  margin: 0 0 32px 0;
}

.menu__info {
  padding: 0 0 32px 0;
}

.menu__contact--buttons {
  display: flex;
  margin-bottom: 16px;
}

.menu__contact--button:nth-child(1) {
  background-image: url(../public/chat\ copy.svg);
  width: 40px;
  height: 40px;
}

.menu__contact--button:nth-child(2) {
  background-image: url(../public/chat.svg);
  width: 40px;
  height: 40px;
}

.menu__contact--button:nth-child(3) {
  background-image: url(../public/profile.svg);
  width: 40px;
  height: 40px;
}

.menu__contact--button:not(:last-child) {
  margin-right: 16px;
}

.menu__contacts {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.menu__mail {
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  padding-bottom: 12px;
}

.menu__tel {
  font-family: 'TT Lakes Bold';
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
}

.menu__languages {
  display: flex;
}

.menu__language:first-child {
  color: #7e7e82;
}

.menu__language {
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
}

.menu__language:not(:last-child) {
  margin-right: 7px;
}

@media (max-height: 768px) {
  .menu {
    height: 100%;
  }
}
